@model AboutUsVm
@{
    ViewData["Title"] = "AboutUsView";
}

    <div role="main" class="main">
    
        <div class="container">
            <div class="row pt-5">
                <div class="col">

                    <div class="row text-center pb-5">
                        <div class="col-md-9 mx-md-auto">
                            <div class="overflow-hidden mb-3">
                                <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                    <span>We are @Model.Company.Name.Split(" ")[0], We </span>
                                    <span class="word-rotator-words bg-primary">
                                        <b class="is-visible">Create</b>
                                        <b>Build</b>
                                        <b>Develop</b>
                                    </span>
                                    <span> Solutions</span>
                                </h1>
                            </div>
                            <div class="overflow-hidden mb-3">
                                <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                    @Model.Company.ShortDescription
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 mb-5">
                        <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
                            <h3 class="font-weight-bold text-4 mb-2">Our Mission</h3>
                            <p style="text-align:justify;">@Html.Raw(Model.about.OurMissionDescription)</p>

                        </div>
                        <div class="col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                            <h3 class="font-weight-bold text-4 mb-2">Our Vision</h3>
                            <p style="text-align:justify;">@Html.Raw(Model.about.OurVisionDescription)</p>
                        </div>
                        <div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
                            <h3 class="font-weight-bold text-4 mb-2">Why Us</h3>
                            <p style="text-align:justify;">@Html.Raw(Model.about.WhyUsDescription)</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

       




        <section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
            <div class="container py-4">

                <div class="row align-items-center">
                    <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
                        <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                            @foreach (var item in Model.aboutUs)
                            {
                                <img style="height:450px;width:500px;" alt="" class="img-fluid" src="@item.WhoWeAreImageOne">
                            }

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="overflow-hidden mb-2">
                            <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
                        </div>
                        <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">@Html.Raw(Model.about.WhoWeAreDescription)</p>
                    </div>
                </div>

            </div>
        </section>




        @*<div class="container pb-1">

            <div class="row pt-4">
                <div class="col">
                    <div class="overflow-hidden mb-3">
                        <h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                            <span>The New Way to </span>
                            <span class="word-rotator-words bg-primary">
                                <b class="is-visible">Success</b>
                                <b>Advance</b>
                                <b>Progress</b>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-10">
                    <div class="overflow-hidden">
                        <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non <span class="alternative-font">metus.</span> pulvinar. Sociis natoque penatibus et magnis dis parturient montes.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="450">
                    <a href="/ClientView/Career" class="btn btn-modern btn-primary mt-1">Join Our Team!</a>
                </div>
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-8 mx-md-auto text-center">

                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Our <strong class="font-weight-extra-bold">History</strong></h2>
                <p>How we started, lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>

                <section class="timeline" id="timeline">
                    <div class="timeline-body">
                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2020</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/images/w2.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">New Office</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante.</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2012</h3>
                        </div>

                        <article class="timeline-box right text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/images/marge1.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">New Partners</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat.</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2006</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/images/marg.33.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">Foundation</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel consequat, ante.</p>
                            </div>
                        </article>
                    </div>
                </section>

            </div>
        </div>



        <section class="section section-default border-0 my-5">
            <div class="container py-4">

                <div class="row">
                    <div class="col pb-4 text-center">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Meet <strong class="font-weight-extra-bold">Our Team</strong></h2>
                        <p>Rockstars lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>
                    </div>
                </div>
                <div class="row pb-4 mb-2">
                    @foreach (var item in Model.teamVmList)
                    {

                        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
                            <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">

                                <span class="thumb-info-wrapper">
                                    <a href="">
                                        <img src="@item.Image" class="img-fluid" alt="" style="height: 250px;">

                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">@item.Name</span>
                                            <span class="thumb-info-type">@item.DepartmentName</span>
                                        </span>
                                    </a>
                                </span>
                                <span class="thumb-info-caption">
                                    <span class="thumb-info-inner">@item.DesignationName</span>
                                    <span class="thumb-info-social-icons mb-4 mt-3">

                                        @if (item.Facebook != null)
                                        {
                                            <a target="_blank" href="@item.Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                        }

                                        @if (item.Twitter != null)
                                        {
                                            <a href="@item.Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                        }

                                        @if (item.LinkedIn != null)
                                        {
                                            <a href="@item.LinkedIn"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                                        }
                                    </span>
                                </span>
                            </span>
                        </div>
                    }

                </div>
            </div>
        </section>







    </div>
