@model AboutUsVm
@{
    ViewData["Title"] = "AboutUsView";
    //int softwareIndexDiv = 0;
}

    <div role="main" class="main">
        <div class="container">
            <div class="row pt-5">
                <div class="col">

                    <div class="row text-center pb-5">
                        <div class="col-md-9 mx-md-auto">
                            <div class="overflow-hidden mb-3">
                                <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                    <span>We are @Model.Company.Name.Split(" ")[0], We </span>
                                    <span class="word-rotator-words bg-primary">
                                        <b class="is-visible">Create</b>
                                        <b>Build</b>
                                        <b>Develop</b>
                                    </span>
                                    <span> Solutions</span>
                                </h1>
                            </div>
                            <div class="overflow-hidden mb-3">
                                <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                    @Model.Company.ShortDescription
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <section class="section section-primary section-no-border my-0">
            <div class="container mb-5 pb-5">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="row pt-4">
                            <div class="col-md-8 order-2 order-md-1 appear-animation" data-appear-animation="fadeInRightShorter">
                                <div class="row text-center text-md-left mb-5 pb-5">
                                    <div class="col-lg-7">
                                        <h2 class="text-7 font-weight-semibold mb-2">We are sure you will enjoy work with us and our team.</h2>
                                    </div>
                                    <div class="col-lg-10">
                                        <p class="text-3 line-height-9 opacity-7">@Html.Raw(Model.about.WhyUsDescription)</p>
                                        <a href="#" class="d-inline-flex align-items-center btn btn-dark text-color-light font-weight-bold px-4 btn-py-2 text-2 rounded">VIEW OUR SERVICES <i class="fa fa-arrow-right ml-2 pl-1 text-3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center order-1 order-md-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                                <p class="text-1 mb-2 opacity-7">Pronali Project Number</p>
                                <div class="owl-carousel owl-theme nav-style-3 nav-light dots-light text-color-light" data-plugin-options="{'items': 1, 'margin': 100, 'loop': true, 'nav': true, 'dots': true, 'stagePadding': 60, 'autoHeight': true}">
                                    <div class="text-center pt-3">
                                        <strong class="font-weight-extra-bold text-13 text-lg-14">1200<sup class="sup-text-small pl-1">%</sup></strong>
                                        <label class="font-weight-normal text-3 px-lg-4">Percent of happy users using Pronali</label>
                                    </div>
                                    <div class="text-center pt-3">
                                        <strong class="font-weight-extra-bold text-13 text-lg-14">23<sup class="sup-text-small pl-1">+</sup></strong>
                                        <label class="font-weight-normal text-3 px-lg-4">Projects made with total success</label>
                                    </div>
                                    <div class="text-center pt-3">
                                        <strong class="font-weight-extra-bold text-13 text-lg-14">1200<sup class="sup-text-small pl-1">+</sup></strong>
                                        <label class="font-weight-normal text-3 px-lg-4">Number of clients around the Bangladesh</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="container">
            <div class="row" style="margin-top: -165px">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">

                    <div class="card flip-card flip-card-3d bg-transparent text-center rounded-0">
                        <div class="flip-front p-5">
                            <div  class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">01</strong>
                                <h4 class="font-weight-bold text-color-primary text-4">Our Mission</h4>
                                <p>@Html.Raw(Model.about.OurMissionDescription)</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex align-items-center p-5 " style="background-image: url(@Model.about.WhoWeAreImageOne); background-size: cover; background-position: center;">

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">

                    <div class="card flip-card flip-card-3d bg-transparent text-center rounded-0">

                        <div class="flip-front p-5">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">02</strong>
                                <h4 class="font-weight-bold text-color-primary text-4">Our Vision</h4>
                                <p>@Html.Raw(Model.about.OurVisionDescription)</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex align-items-center p-5" style="background-image: url(@Model.about.WhoWeAreImageTwo); background-size: cover; background-position: center;">

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">

                    <div class="card flip-card flip-card-3d bg-transparent text-center rounded-0">
                        <div class="flip-front p-5">
                            <div class="flip-content my-4">
                                <strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">03</strong>
                                <h4 class="font-weight-bold text-color-primary text-4">Who WeAre</h4>
                                <p>@Html.Raw(Model.about.WhoWeAreDescription)</p>
                            </div>
                        </div>
                        <div class="flip-back d-flex align-items-center p-5" style="background-image: url(@Model.about.WhoWeAreImageThree); background-size: cover; background-position: center;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center text-md-left align-items-center mt-4 appear-animation mt-5" data-appear-animation="fadeInRightShorter">
                <div class="col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="font-weight-bold text-7 mb-3">About Know Our Service</h2>
                            <p class="text-4">@Html.Raw(Model.about.WhyUsDescription)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <p class="text-2 pr-lg-2"></p>
                            <a href="#" class="d-inline-flex align-items-center btn btn-dark text-color-light font-weight-bold px-4 btn-py-2 text-2 rounded mt-2 mb-5">LEARN MORE NOW <i class="fa fa-arrow-right ml-2 pl-1 text-3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 px-5 px-md-3">
                    <img class="img-fluid" style="height:457px;width:417px;" src="@Model.about.WhoWeAreImageThree" alt="" />
                </div>
            </div>
        </div>





        <section class="section section-no-border section- section-height-3 bg-color-grey-scale-3 text-center mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="call-to-action-content">
                            <h4>
                                Alphasoft Technolgoy Ltd. as a "Provider of Specialized Software Service" Work as an extended experienced partner for your  you need to create an business to, deliver professional software.
                            </h4>

                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="call-to-action-btn">
                            <a class="btn btn-badge btn-primary font-weight-bold px-4 mt-4 mt-md-2 mb-2" href="#">Service Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-md-8 mx-md-auto text-center">

                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Our <strong class="font-weight-extra-bold">History</strong></h2>
                <p>How we started, lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>

                <section class="timeline" id="timeline">
                    <div class="timeline-body">
                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2020</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/images/w2.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">New Office</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante.</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2012</h3>
                        </div>

                        <article class="timeline-box right text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/images/marge1.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">New Partners</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat.</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2006</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/images/marg.33.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">Foundation</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel consequat, ante.</p>
                            </div>
                        </article>
                    </div>
                </section>

            </div>
        </div>




        <div class="container py-4">
            <h3 style="text-align:center;" class="text-primary font-weight-bold">Meet Our Team</h3>
            <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="team" data-option-key="filter">

                <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
                @foreach (var item in Model.Teams.GroupBy(x => x.DepartmentId))
                {
                    var departmentName = item.Select(x => x.Department.Name).FirstOrDefault();
                    <li class="nav-item" data-option-value=".@departmentName.Split(" ")[0]"><a class="nav-link text-1 text-uppercase" href="#">@departmentName</a></li>
                }
            </ul>

            <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                <div class="row team-list sort-destination" data-sort-id="team">
                    @foreach (var item in Model.Teams)
                    {
                        //string image = string.IsNullOrEmpty(item.Image) ? "/images/default-avater.jpg" : item.Image;
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item @item.Department.Name.Split(" ")[0]">
                            <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                                <span class="thumb-info-wrapper">
                                    <a href="/ClientView/TeamViewDetails/@item.Id">
                                        <img src="@item.Image" class="img-fluid" alt="" style="height: 250px;">
                                        <img src="" />
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">@item.Name</span>
                                            <span class="thumb-info-type">@item.Department.Name</span>
                                        </span>
                                    </a>
                                </span>



                                <span class="thumb-info-caption">
                                    <span class="thumb-info-social-icons mb-4 mt-3">
                                        @if (item.Facebook != null)
                                        {
                                            <a target="_blank" href="@item.Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                        }

                                        @if (item.Twitter != null)
                                        {
                                            <a href="@item.Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                        }

                                        @if (item.LinkedIn != null)
                                        {
                                            <a href="@item.LinkedIn"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                                        }
                                    </span>
                                </span>
                            </span>
                        </div>

                    }
                </div>

            </div>

        </div>

    </div>